tests/*.log
tests/*.pyc
tests/__pycache__
data/*.pkl
tests/mlruns/*
tests/catboost_info
.vscode
__pycache__
dist
build
BioML.egg-info
data/training_features
data/*.log
tests/*training*
tests/mlruns
data/esterase_spp.xlsx
data/db_seq.fasta
examples/*.log
examples/mlruns
examples/catboost_info
examples/*output*
examples/classification*
examples/regression*
examples/*results*

examples/.db
