tests/*.log
tests/*.pyc
tests/__pycache__
data/*.pkl
tests/mlruns/*
tests/catboost_info
.vscode
__pycache__
dist
build
BioML.egg-info
data/training_features
data/*.log
data/*.tsv
tests/*training*
tests/mlruns
data/esterase_spp.xlsx
tests/result.pssm
data/db_seq.fasta