tests/*.log
tests/*.ipynb*
tests/*.pyc
tests/__pycache__
data/*.pkl
tests/mlruns/*
tests/catboost_info
.vscode
__pycache__
dist
build
BioML.egg-info
data/training_features
data/*.log
tests/*training*
tests/mlruns